# Default review assignment for all changes in this repo.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
*       @B612-Asteroid-Institute/rust-maintainers
